<html>
    <head>
        <title>Sistema de control de ingreso</title>
    </head>
    <body>
        <h1>Sistema de control de ingreso</h1>
        <hr>
        <h3>Opciones</h3>
        <ul>
            <li><a href="/mantenimientos">Mantenimientos</a></li>
            <p></p>
            <li><a href="/procesos">Procesos</a></li>
            <p></p>
            <li><a href="/reportes">Reportes</a></li>
            <p></p>
        </ul>
    </body>
</html>
