<html>
    <head>
        <title>Sistema de control de ingreso</title>
    </head>
    <body>
        <h1>Mantenimientos</h1>
        <hr>
        <ul>
            <li><a href="/m_areas_listado">Areas</a></li>
            <p></p>
            <li><a href="/m_cargos_listado">Cargos</a></li>
            <p></p>
        </ul>
    </body>
</html>
